In [46]:
import pandas as pd 


client_churned=pd.read_excel('churned_clients.xlsx')
df=pd.read_csv('transactions_dataset.csv',sep=';')

In [47]:
relationship=pd.read_csv('sales_client_relationship_dataset.csv')
relationship

        client_id    quali_relation
0          188502  Difficult client
1          598816  Difficult client
2          564878  Difficult client
3         1883627  Difficult client
4          224223  Difficult client
...           ...               ...
170584     530092  Agreeable client
170585    1511299  Agreeable client
170586     593718  Agreeable client
170587    1349732  Agreeable client
170588     403771  Agreeable client

[170589 rows x 2 columns]

In [48]:

client_churned=pd.read_excel('churned_clients.xlsx')
df=pd.read_csv('transactions_dataset.csv',sep=';')
relationship=pd.read_csv('sales_client_relationship_dataset.csv')
# Filter the df dataframe to keep only the clients that are present in client_churned
churned_df = df[df['client_id'].isin(client_churned['client_id'])]
# Merge churned_df with relationship on 'client_id'
churned_df = pd.merge(churned_df, relationship, on='client_id', how='left')

'''
80€/hour.
- 3 hours to complete with usually 1 additional hour of follow-up
- 1 hours Phone call

Demanding client: 5 hours
Diifficult client: 4 hours
Agreeable client: 1 hour phone call
'''

churned_df['Cost'] = churned_df['quali_relation'].map({
    'Demanding client': 400,
    'Difficult client': 320,
    'Agreeable client': 80
})

predicted=pd.read_csv('predicted_churners_sales_method1.csv')


churned_df = pd.merge(predicted, churned_df, on='client_id', how='left')

churned_df[['client_id','expected_sales_2020_method1','Cost']].drop_duplicates(inplace=True)

C:\Users\nacer\AppData\Local\Temp\ipykernel_19116\3670138602.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  churned_df[['client_id','expected_sales_2020_method1','Cost']].drop_duplicates(inplace=True)

80€/hour.
- 3 hours to complete with usually 1 additional hour of follow-up
- 1 hours Phone call

In [49]:
# Filter the df dataframe to keep only the clients that are present in client_churned
churned_df = df[df['client_id'].isin(client_churned['client_id'])]
# Merge churned_df with relationship on 'client_id'
churned_df = pd.merge(churned_df, relationship, on='client_id', how='left')
churned_df

,date_order,date_invoice,product_id,client_id,sales_net,quantity,order_channel,branch_id,quali_relation
0,2017-09-29,2017-09-29,897228,2049253,81.068928,201,at the store,10555,Demanding client
1,2017-09-29,2017-09-29,1744759,695741,0.027600,3,at the store,2568,Difficult client
2,2017-09-26,2017-09-26,360143,1023977,52.834404,2001,by phone,4080,Difficult client
3,2017-09-25,2017-09-25,122013,29812,21.889560,21,at the store,2205,Difficult client
4,2017-09-25,2017-09-25,1411865,1764932,74.437200,31,at the store,9599,Demanding client
...,...,...,...,...,...,...,...,...,...
2410695,2019-06-11,2020-05-20,127729,1258708,-49.818000,3,at the store,2235,Agreeable client
2410696,2019-09-03,2020-02-26,420577,308157,-993.820800,3,by phone,3358,Demanding client
2410697,2019-05-09,2020-01-14,808855,967931,-508.484000,5,by phone,773,Agreeable client
2410698,2018-08-08,2020-02-13,68526,142566,-161.680800,3,at the store,10936,Agreeable client
2410699,2018-12-14,2020-07-15,908253,880496,27.627600,1001,by phone,9375,Demanding client

In [50]:


churned_df['Cost'] = churned_df['quali_relation'].map({
    'Demanding client': 400,
    'Difficult client': 320,
    'Agreeable client': 80
})

churned_df

,date_order,date_invoice,product_id,client_id,sales_net,quantity,order_channel,branch_id,quali_relation,Cost
0,2017-09-29,2017-09-29,897228,2049253,81.068928,201,at the store,10555,Demanding client,400
1,2017-09-29,2017-09-29,1744759,695741,0.027600,3,at the store,2568,Difficult client,320
2,2017-09-26,2017-09-26,360143,1023977,52.834404,2001,by phone,4080,Difficult client,320
3,2017-09-25,2017-09-25,122013,29812,21.889560,21,at the store,2205,Difficult client,320
4,2017-09-25,2017-09-25,1411865,1764932,74.437200,31,at the store,9599,Demanding client,400
...,...,...,...,...,...,...,...,...,...,...
2410695,2019-06-11,2020-05-20,127729,1258708,-49.818000,3,at the store,2235,Agreeable client,80
2410696,2019-09-03,2020-02-26,420577,308157,-993.820800,3,by phone,3358,Demanding client,400
2410697,2019-05-09,2020-01-14,808855,967931,-508.484000,5,by phone,773,Agreeable client,80
2410698,2018-08-08,2020-02-13,68526,142566,-161.680800,3,at the store,10936,Agreeable client,80
2410699,2018-12-14,2020-07-15,908253,880496,27.627600,1001,by phone,9375,Demanding client,400

In [51]:
predicted=pd.read_csv('predicted_churners_sales_method1.csv')
predicted

churned_df = pd.merge(predicted, churned_df, on='client_id', how='left')

In [52]:
churned_df=churned_df[['client_id','expected_sales_2020_method1','Cost']]
churned_df.drop_duplicates(inplace=True)
churned_df

         client_id  expected_sales_2020_method1  Cost
0               37                  4235.501263   320
59              43                  1211.230600   400
60              60                     0.000000   400
67              68                 21268.612082   400
150             76                  2437.681335   320
...            ...                          ...   ...
2410478    2274184                 12020.238747    80
2410681    2274415                  4688.141111   320
2410682    2274425                   161.097155    80
2410686    2274479                   315.101565    80
2410696    2274504                    97.267433   400

[36270 rows x 3 columns]

In [53]:
import pandas as pd
#!pip install pulp
from pulp import LpProblem, LpMaximize, LpVariable, lpSum, LpStatus

def knapsack_with_client_id(df, budget=100000):
    """
    Solve a 0-1 knapsack where:
      - Weight = df['Cost']
      - Value  = df['expected_sales_2020_method1']
      - Capacity (budget) = 100000 (default)
    Returns a tuple: (chosen_df, total_cost, total_sales)
    """

    # 1) Create the optimization model
    model = LpProblem("Knapsack_Problem", sense=LpMaximize)
    
    # 2) Create a binary decision variable for each client_id
    #    Key the dictionary by client_id instead of DataFrame index
    x = {
        cid: LpVariable(f"x_{cid}", cat='Binary')
        for cid in df['client_id'].unique()
    }

    # 3) Define the objective: maximize sum of (x[cid] * expected_sales)
    model += lpSum([
        x[row['client_id']] * row['expected_sales_2020_method1']
        for _, row in df.iterrows()
    ]), "MaxExpectedSales"

    # 4) Define the constraint: total Cost <= budget
    model += lpSum([
        x[row['client_id']] * row['Cost']
        for _, row in df.iterrows()
    ]) <= budget, "BudgetConstraint"

    # 5) Solve the model
    model.solve()

    print("Solver Status:", LpStatus[model.status])

    # 6) Collect chosen clients (where x[cid] == 1)
    chosen_client_ids = [cid for cid in x if x[cid].varValue == 1]

    # 7) Filter original DF by chosen clients
    chosen_df = df[df['client_id'].isin(chosen_client_ids)].copy()
    
    # 8) Compute total cost & total expected sales
    total_cost = chosen_df['Cost'].sum()
    total_sales = chosen_df['expected_sales_2020_method1'].sum()

    return chosen_df, total_cost, total_sales



chosen_df, total_cost, total_sales = knapsack_with_client_id(churned_df, budget=100000)

print("Number of chosen clients:", len(chosen_df))
print("Total Cost:", total_cost)
print("Total Expected Sales:", total_sales)

Solver Status: Optimal
Number of chosen clients: 629
Total Cost: 100000
Total Expected Sales: 200523743.41919217

In [54]:
chosen_df

         client_id  expected_sales_2020_method1  Cost
2793          4546                388592.303874   400
6589         11388                 67362.302055    80
8737         16381                187965.442534    80
13064        20240                672646.233777   320
15261        20688                285054.004969    80
...            ...                          ...   ...
2397166    2262407                111735.988185    80
2400626    2266275                110183.622388    80
2403048    2268390                254587.138955   320
2406510    2269050                456342.123357    80
2409279    2272838                333578.011400   320

[629 rows x 3 columns]